:host {
  position: absolute;
  top: 0.5rem;

  div {
    display: inline-block;
  }
  
  .crumbs {
    div {
      vertical-align: middle;
    }
    
    .crumb:not(:last-child) * {
      cursor: pointer;
    }
    
    .crumb:last-child, .seperator, a:last-child {
      cursor: default;
      text-decoration: none;
      color: black;
    }
  }
}