body {
  font-size: 1rem;
	line-height: 1;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

a {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.form-fieldset {
  border: 1px solid #a6c9e2;
  border-radius: 5px;
  padding: 5px;
  
  legend {
    border: 1px solid #a6c9e2;
    border-radius: 5px;
    width: auto;
    padding: 5px;
    font-size: 14px;
    margin-left: 5px;
  }
}

.silk {
  width: 18px;
  height: 18px;
  display: block;
  background: transparent url(assets\silk-sprite.png) no-repeat;
  text-indent: -99999px;
  overflow: hidden;
}

.silk-add { background-position: -18px -0px }
.silk-anchor { background-position: -36px -0px }
.silk-application { background-position: -54px -0px }
.silk-application-add { background-position: -72px -0px }
.silk-application-cascade { background-position: -90px -0px }
.silk-application-delete { background-position: -108px -0px }
.silk-application-double { background-position: -126px -0px }
.silk-application-edit { background-position: -144px -0px }
.silk-application-error { background-position: -162px -0px }
.silk-application-form { background-position: -180px -0px }
.silk-application-form-add { background-position: -198px -0px }
.silk-application-form-delete { background-position: -216px -0px }
.silk-application-form-edit { background-position: -234px -0px }
.silk-application-form-magnify { background-position: -252px -0px }
.silk-application-get { background-position: -270px -0px }
.silk-application-go { background-position: -288px -0px }
.silk-application-home { background-position: -306px -0px }
.silk-application-key { background-position: -324px -0px }
.silk-application-lightning { background-position: -342px -0px }
.silk-application-link { background-position: -360px -0px }
.silk-application-osx { background-position: -378px -0px }
.silk-application-osx-terminal { background-position: -396px -0px }
.silk-application-put { background-position: -414px -0px }
.silk-application-side-boxes { background-position: -432px -0px }
.silk-application-side-contract { background-position: -450px -0px }
.silk-application-side-expand { background-position: -468px -0px }
.silk-application-side-list { background-position: -486px -0px }
.silk-application-side-tree { background-position: -504px -0px }
.silk-application-split { background-position: -522px -0px }
.silk-application-tile-horizontal { background-position: -540px -0px }
.silk-application-tile-vertical { background-position: -558px -0px }
.silk-application-view-columns { background-position: 0px -18px }
.silk-application-view-detail { background-position: -17px -18px }
.silk-application-view-gallery { background-position: -35px -18px }
.silk-application-view-icons { background-position: -53px -18px }
.silk-application-view-list { background-position: -71px -18px }
.silk-application-view-tile { background-position: -89px -18px }
.silk-application-xp { background-position: -107px -18px }
.silk-application-xp-terminal { background-position: -125px -18px }
.silk-arrow-branch { background-position: -143px -18px }
.silk-arrow-divide { background-position: -161px -18px }
.silk-arrow-down { background-position: -179px -18px }
.silk-arrow-in { background-position: -197px -18px }
.silk-arrow-inout { background-position: -215px -18px }
.silk-arrow-join { background-position: -233px -18px }
.silk-arrow-left { background-position: -251px -18px }
.silk-arrow-merge { background-position: -269px -18px }
.silk-arrow-out { background-position: -287px -18px }
.silk-arrow-redo { background-position: -305px -18px }
.silk-arrow-refresh { background-position: -323px -18px }
.silk-arrow-refresh-small { background-position: -341px -18px }
.silk-arrow-right { background-position: -359px -18px }
.silk-arrow-rotate-anticlockwise { background-position: -377px -18px }
.silk-arrow-rotate-clockwise { background-position: -395px -18px }
.silk-arrow-switch { background-position: -413px -18px }
.silk-arrow-turn-left { background-position: -431px -18px }
.silk-arrow-turn-right { background-position: -449px -18px }
.silk-arrow-undo { background-position: -467px -18px }
.silk-arrow-up { background-position: -485px -18px }
.silk-asterisk-orange { background-position: -503px -18px }
.silk-asterisk-yellow { background-position: -521px -18px }
.silk-attach { background-position: -539px -18px }
.silk-award-star-add { background-position: -557px -18px }
.silk-award-star-bronze-1 { background-position: 0px -36px }
.silk-award-star-bronze-2 { background-position: -17px -36px }
.silk-award-star-bronze-3 { background-position: -35px -36px }
.silk-award-star-delete { background-position: -53px -36px }
.silk-award-star-gold-1 { background-position: -71px -36px }
.silk-award-star-gold-2 { background-position: -89px -36px }
.silk-award-star-gold-3 { background-position: -107px -36px }
.silk-award-star-silver-1 { background-position: -125px -36px }
.silk-award-star-silver-2 { background-position: -143px -36px }
.silk-award-star-silver-3 { background-position: -161px -36px }
.silk-basket { background-position: -179px -36px }
.silk-basket-add { background-position: -197px -36px }
.silk-basket-delete { background-position: -215px -36px }
.silk-basket-edit { background-position: -233px -36px }
.silk-basket-error { background-position: -251px -36px }
.silk-basket-go { background-position: -269px -36px }
.silk-basket-put { background-position: -287px -36px }
.silk-basket-remove { background-position: -305px -36px }
.silk-bell { background-position: -323px -36px }
.silk-bell-add { background-position: -341px -36px }
.silk-bell-delete { background-position: -359px -36px }
.silk-bell-error { background-position: -377px -36px }
.silk-bell-go { background-position: -395px -36px }
.silk-bell-link { background-position: -413px -36px }
.silk-bin { background-position: -431px -36px }
.silk-bin-closed { background-position: -449px -36px }
.silk-bin-empty { background-position: -467px -36px }
.silk-bomb { background-position: -485px -36px }
.silk-book { background-position: -503px -36px }
.silk-book-add { background-position: -521px -36px }
.silk-book-addresses { background-position: -539px -36px }
.silk-book-delete { background-position: -557px -36px }
.silk-book-edit { background-position: 0px -54px }
.silk-book-error { background-position: -17px -54px }
.silk-book-go { background-position: -35px -54px }
.silk-book-key { background-position: -53px -54px }
.silk-book-link { background-position: -71px -54px }
.silk-book-next { background-position: -89px -54px }
.silk-book-open { background-position: -107px -54px }
.silk-book-previous { background-position: -125px -54px }
.silk-box { background-position: -143px -54px }
.silk-brick { background-position: -161px -54px }
.silk-bricks { background-position: -179px -54px }
.silk-brick-add { background-position: -197px -54px }
.silk-brick-delete { background-position: -215px -54px }
.silk-brick-edit { background-position: -233px -54px }
.silk-brick-error { background-position: -251px -54px }
.silk-brick-go { background-position: -269px -54px }
.silk-brick-link { background-position: -287px -54px }
.silk-briefcase { background-position: -305px -54px }
.silk-bug { background-position: -323px -54px }
.silk-bug-add { background-position: -341px -54px }
.silk-bug-delete { background-position: -359px -54px }
.silk-bug-edit { background-position: -377px -54px }
.silk-bug-error { background-position: -395px -54px }
.silk-bug-go { background-position: -413px -54px }
.silk-bug-link { background-position: -431px -54px }
.silk-building { background-position: -449px -54px }
.silk-building-add { background-position: -467px -54px }
.silk-building-delete { background-position: -485px -54px }
.silk-building-edit { background-position: -503px -54px }
.silk-building-error { background-position: -521px -54px }
.silk-building-go { background-position: -539px -54px }
.silk-building-key { background-position: -557px -54px }
.silk-building-link { background-position: 0px -72px }
.silk-bullet-add { background-position: -17px -72px }
.silk-bullet-arrow-bottom { background-position: -35px -72px }
.silk-bullet-arrow-down { background-position: -53px -72px }
.silk-bullet-arrow-top { background-position: -71px -72px }
.silk-bullet-arrow-up { background-position: -89px -72px }
.silk-bullet-black { background-position: -107px -72px }
.silk-bullet-blue { background-position: -125px -72px }
.silk-bullet-delete { background-position: -143px -72px }
.silk-bullet-disk { background-position: -161px -72px }
.silk-bullet-error { background-position: -179px -72px }
.silk-bullet-feed { background-position: -197px -72px }
.silk-bullet-go { background-position: -215px -72px }
.silk-bullet-green { background-position: -233px -72px }
.silk-bullet-key { background-position: -251px -72px }
.silk-bullet-orange { background-position: -269px -72px }
.silk-bullet-picture { background-position: -287px -72px }
.silk-bullet-pink { background-position: -305px -72px }
.silk-bullet-purple { background-position: -323px -72px }
.silk-bullet-red { background-position: -341px -72px }
.silk-bullet-star { background-position: -359px -72px }
.silk-bullet-toggle-minus { background-position: -377px -72px }
.silk-bullet-toggle-plus { background-position: -395px -72px }
.silk-bullet-white { background-position: -413px -72px }
.silk-bullet-wrench { background-position: -431px -72px }
.silk-bullet-yellow { background-position: -449px -72px }
.silk-cake { background-position: -467px -72px }
.silk-calculator { background-position: -485px -72px }
.silk-calculator-add { background-position: -503px -72px }
.silk-calculator-delete { background-position: -521px -72px }
.silk-calculator-edit { background-position: -539px -72px }
.silk-calculator-error { background-position: -557px -72px }
.silk-calculator-link { background-position: 0px -90px }
.silk-calendar { background-position: -17px -90px }
.silk-calendar-add { background-position: -35px -90px }
.silk-calendar-delete { background-position: -53px -90px }
.silk-calendar-edit { background-position: -71px -90px }
.silk-calendar-link { background-position: -89px -90px }
.silk-calendar-view-day { background-position: -107px -90px }
.silk-calendar-view-month { background-position: -125px -90px }
.silk-calendar-view-week { background-position: -143px -90px }
.silk-camera { background-position: -161px -90px }
.silk-camera-add { background-position: -179px -90px }
.silk-camera-delete { background-position: -197px -90px }
.silk-camera-edit { background-position: -215px -90px }
.silk-camera-error { background-position: -233px -90px }
.silk-camera-go { background-position: -251px -90px }
.silk-camera-link { background-position: -269px -90px }
.silk-camera-small { background-position: -287px -90px }
.silk-cancel { background-position: -305px -90px }
.silk-car { background-position: -323px -90px }
.silk-cart { background-position: -341px -90px }
.silk-cart-add { background-position: -359px -90px }
.silk-cart-delete { background-position: -377px -90px }
.silk-cart-edit { background-position: -395px -90px }
.silk-cart-error { background-position: -413px -90px }
.silk-cart-go { background-position: -431px -90px }
.silk-cart-put { background-position: -449px -90px }
.silk-cart-remove { background-position: -467px -90px }
.silk-car-add { background-position: -485px -90px }
.silk-car-delete { background-position: -503px -90px }
.silk-cd { background-position: -521px -90px }
.silk-cd-add { background-position: -539px -90px }
.silk-cd-burn { background-position: -557px -90px }
.silk-cd-delete { background-position: 0px -108px }
.silk-cd-edit { background-position: -17px -108px }
.silk-cd-eject { background-position: -35px -108px }
.silk-cd-go { background-position: -53px -108px }
.silk-chart-bar { background-position: -71px -108px }
.silk-chart-bar-add { background-position: -89px -108px }
.silk-chart-bar-delete { background-position: -107px -108px }
.silk-chart-bar-edit { background-position: -125px -108px }
.silk-chart-bar-error { background-position: -143px -108px }
.silk-chart-bar-link { background-position: -161px -108px }
.silk-chart-curve { background-position: -179px -108px }
.silk-chart-curve-add { background-position: -197px -108px }
.silk-chart-curve-delete { background-position: -215px -108px }
.silk-chart-curve-edit { background-position: -233px -108px }
.silk-chart-curve-error { background-position: -251px -108px }
.silk-chart-curve-go { background-position: -269px -108px }
.silk-chart-curve-link { background-position: -287px -108px }
.silk-chart-line { background-position: -305px -108px }
.silk-chart-line-add { background-position: -323px -108px }
.silk-chart-line-delete { background-position: -341px -108px }
.silk-chart-line-edit { background-position: -359px -108px }
.silk-chart-line-error { background-position: -377px -108px }
.silk-chart-line-link { background-position: -395px -108px }
.silk-chart-organisation { background-position: -413px -108px }
.silk-chart-organisation-add { background-position: -431px -108px }
.silk-chart-organisation-delete { background-position: -449px -108px }
.silk-chart-pie { background-position: -467px -108px }
.silk-chart-pie-add { background-position: -485px -108px }
.silk-chart-pie-delete { background-position: -503px -108px }
.silk-chart-pie-edit { background-position: -521px -108px }
.silk-chart-pie-error { background-position: -539px -108px }
.silk-chart-pie-link { background-position: -557px -108px }
.silk-clock { background-position: 0px -126px }
.silk-clock-add { background-position: -17px -126px }
.silk-clock-delete { background-position: -35px -126px }
.silk-clock-edit { background-position: -53px -126px }
.silk-clock-error { background-position: -71px -126px }
.silk-clock-go { background-position: -89px -126px }
.silk-clock-link { background-position: -107px -126px }
.silk-clock-pause { background-position: -125px -126px }
.silk-clock-play { background-position: -143px -126px }
.silk-clock-red { background-position: -161px -126px }
.silk-clock-stop { background-position: -179px -126px }
.silk-cog { background-position: -197px -126px }
.silk-cog-add { background-position: -215px -126px }
.silk-cog-delete { background-position: -233px -126px }
.silk-cog-edit { background-position: -251px -126px }
.silk-cog-error { background-position: -269px -126px }
.silk-cog-go { background-position: -287px -126px }
.silk-coins { background-position: -305px -126px }
.silk-coins-add { background-position: -323px -126px }
.silk-coins-delete { background-position: -341px -126px }
.silk-color-swatch { background-position: -359px -126px }
.silk-color-wheel { background-position: -377px -126px }
.silk-comment { background-position: -395px -126px }
.silk-comments { background-position: -413px -126px }
.silk-comments-add { background-position: -431px -126px }
.silk-comments-delete { background-position: -449px -126px }
.silk-comment-add { background-position: -467px -126px }
.silk-comment-delete { background-position: -485px -126px }
.silk-comment-edit { background-position: -503px -126px }
.silk-compress { background-position: -521px -126px }
.silk-computer { background-position: -539px -126px }
.silk-computer-add { background-position: -557px -126px }
.silk-computer-delete { background-position: 0px -144px }
.silk-computer-edit { background-position: -17px -144px }
.silk-computer-error { background-position: -35px -144px }
.silk-computer-go { background-position: -53px -144px }
.silk-computer-key { background-position: -71px -144px }
.silk-computer-link { background-position: -89px -144px }
.silk-connect { background-position: -107px -144px }
.silk-contrast { background-position: -125px -144px }
.silk-contrast-decrease { background-position: -143px -144px }
.silk-contrast-high { background-position: -161px -144px }
.silk-contrast-increase { background-position: -179px -144px }
.silk-contrast-low { background-position: -197px -144px }
.silk-controller { background-position: -215px -144px }
.silk-controller-add { background-position: -233px -144px }
.silk-controller-delete { background-position: -251px -144px }
.silk-controller-error { background-position: -269px -144px }
.silk-control-eject { background-position: -287px -144px }
.silk-control-eject-blue { background-position: -305px -144px }
.silk-control-end { background-position: -323px -144px }
.silk-control-end-blue { background-position: -341px -144px }
.silk-control-equalizer { background-position: -359px -144px }
.silk-control-equalizer-blue { background-position: -377px -144px }
.silk-control-fastforward { background-position: -395px -144px }
.silk-control-fastforward-blue { background-position: -413px -144px }
.silk-control-pause { background-position: -431px -144px }
.silk-control-pause-blue { background-position: -449px -144px }
.silk-control-play { background-position: -467px -144px }
.silk-control-play-blue { background-position: -485px -144px }
.silk-control-repeat { background-position: -503px -144px }
.silk-control-repeat-blue { background-position: -521px -144px }
.silk-control-rewind { background-position: -539px -144px }
.silk-control-rewind-blue { background-position: -557px -144px }
.silk-control-start { background-position: 0px -162px }
.silk-control-start-blue { background-position: -17px -162px }
.silk-control-stop { background-position: -35px -162px }
.silk-control-stop-blue { background-position: -53px -162px }
.silk-creditcards { background-position: -71px -162px }
.silk-cross { background-position: -89px -162px }
.silk-css { background-position: -107px -162px }
.silk-css-add { background-position: -125px -162px }
.silk-css-delete { background-position: -143px -162px }
.silk-css-go { background-position: -161px -162px }
.silk-css-valid { background-position: -179px -162px }
.silk-cup { background-position: -197px -162px }
.silk-cup-add { background-position: -215px -162px }
.silk-cup-delete { background-position: -233px -162px }
.silk-cup-edit { background-position: -251px -162px }
.silk-cup-error { background-position: -269px -162px }
.silk-cup-go { background-position: -287px -162px }
.silk-cup-key { background-position: -305px -162px }
.silk-cup-link { background-position: -323px -162px }
.silk-cursor { background-position: -341px -162px }
.silk-cut { background-position: -359px -162px }
.silk-cut-red { background-position: -377px -162px }
.silk-database { background-position: -395px -162px }
.silk-database-add { background-position: -413px -162px }
.silk-database-connect { background-position: -431px -162px }
.silk-database-delete { background-position: -449px -162px }
.silk-database-edit { background-position: -467px -162px }
.silk-database-error { background-position: -485px -162px }
.silk-database-gear { background-position: -503px -162px }
.silk-database-go { background-position: -521px -162px }
.silk-database-key { background-position: -539px -162px }
.silk-database-lightning { background-position: -557px -162px }
.silk-database-link { background-position: 0px -180px }
.silk-database-refresh { background-position: -17px -180px }
.silk-database-save { background-position: -35px -180px }
.silk-database-table { background-position: -53px -180px }
.silk-date { background-position: -71px -180px }
.silk-date-add { background-position: -89px -180px }
.silk-date-delete { background-position: -107px -180px }
.silk-date-edit { background-position: -125px -180px }
.silk-date-error { background-position: -143px -180px }
.silk-date-go { background-position: -161px -180px }
.silk-date-link { background-position: -179px -180px }
.silk-date-magnify { background-position: -197px -180px }
.silk-date-next { background-position: -215px -180px }
.silk-date-previous { background-position: -233px -180px }
.silk-delete { background-position: -251px -180px }
.silk-disconnect { background-position: -269px -180px }
.silk-disk { background-position: -287px -180px }
.silk-disk-multiple { background-position: -305px -180px }
.silk-door { background-position: -323px -180px }
.silk-door-in { background-position: -341px -180px }
.silk-door-open { background-position: -359px -180px }
.silk-door-out { background-position: -377px -180px }
.silk-drink { background-position: -395px -180px }
.silk-drink-empty { background-position: -413px -180px }
.silk-drive { background-position: -431px -180px }
.silk-drive-add { background-position: -449px -180px }
.silk-drive-burn { background-position: -467px -180px }
.silk-drive-cd { background-position: -485px -180px }
.silk-drive-cd-empty { background-position: -503px -180px }
.silk-drive-delete { background-position: -521px -180px }
.silk-drive-disk { background-position: -539px -180px }
.silk-drive-edit { background-position: -557px -180px }
.silk-drive-error { background-position: 0px -198px }
.silk-drive-go { background-position: -17px -198px }
.silk-drive-key { background-position: -35px -198px }
.silk-drive-link { background-position: -53px -198px }
.silk-drive-magnify { background-position: -71px -198px }
.silk-drive-network { background-position: -89px -198px }
.silk-drive-rename { background-position: -107px -198px }
.silk-drive-user { background-position: -125px -198px }
.silk-drive-web { background-position: -143px -198px }
.silk-dvd { background-position: -161px -198px }
.silk-dvd-add { background-position: -179px -198px }
.silk-dvd-delete { background-position: -197px -198px }
.silk-dvd-edit { background-position: -215px -198px }
.silk-dvd-error { background-position: -233px -198px }
.silk-dvd-go { background-position: -251px -198px }
.silk-dvd-key { background-position: -269px -198px }
.silk-dvd-link { background-position: -287px -198px }
.silk-email { background-position: -305px -198px }
.silk-email-add { background-position: -323px -198px }
.silk-email-attach { background-position: -341px -198px }
.silk-email-delete { background-position: -359px -198px }
.silk-email-edit { background-position: -377px -198px }
.silk-email-error { background-position: -395px -198px }
.silk-email-go { background-position: -413px -198px }
.silk-email-link { background-position: -431px -198px }
.silk-email-open { background-position: -449px -198px }
.silk-email-open-image { background-position: -467px -198px }
.silk-emoticon-evilgrin { background-position: -485px -198px }
.silk-emoticon-grin { background-position: -503px -198px }
.silk-emoticon-happy { background-position: -521px -198px }
.silk-emoticon-smile { background-position: -539px -198px }
.silk-emoticon-surprised { background-position: -557px -198px }
.silk-emoticon-tongue { background-position: 0px -216px }
.silk-emoticon-unhappy { background-position: -17px -216px }
.silk-emoticon-waii { background-position: -35px -216px }
.silk-emoticon-wink { background-position: -53px -216px }
.silk-error { background-position: -71px -216px }
.silk-error-add { background-position: -89px -216px }
.silk-error-delete { background-position: -107px -216px }
.silk-error-go { background-position: -125px -216px }
.silk-exclamation { background-position: -143px -216px }
.silk-eye { background-position: -161px -216px }
.silk-feed { background-position: -179px -216px }
.silk-feed-add { background-position: -197px -216px }
.silk-feed-delete { background-position: -215px -216px }
.silk-feed-disk { background-position: -233px -216px }
.silk-feed-edit { background-position: -251px -216px }
.silk-feed-error { background-position: -269px -216px }
.silk-feed-go { background-position: -287px -216px }
.silk-feed-key { background-position: -305px -216px }
.silk-feed-link { background-position: -323px -216px }
.silk-feed-magnify { background-position: -341px -216px }
.silk-female { background-position: -359px -216px }
.silk-film { background-position: -377px -216px }
.silk-film-add { background-position: -395px -216px }
.silk-film-delete { background-position: -413px -216px }
.silk-film-edit { background-position: -431px -216px }
.silk-film-error { background-position: -449px -216px }
.silk-film-go { background-position: -467px -216px }
.silk-film-key { background-position: -485px -216px }
.silk-film-link { background-position: -503px -216px }
.silk-film-save { background-position: -521px -216px }
.silk-find { background-position: -539px -216px }
.silk-flag-blue { background-position: -557px -216px }
.silk-flag-green { background-position: 0px -234px }
.silk-flag-orange { background-position: -17px -234px }
.silk-flag-pink { background-position: -35px -234px }
.silk-flag-purple { background-position: -53px -234px }
.silk-flag-red { background-position: -71px -234px }
.silk-flag-yellow { background-position: -89px -234px }
.silk-folder { background-position: -107px -234px }
.silk-folder-add { background-position: -125px -234px }
.silk-folder-bell { background-position: -143px -234px }
.silk-folder-brick { background-position: -161px -234px }
.silk-folder-bug { background-position: -179px -234px }
.silk-folder-camera { background-position: -197px -234px }
.silk-folder-database { background-position: -215px -234px }
.silk-folder-delete { background-position: -233px -234px }
.silk-folder-edit { background-position: -251px -234px }
.silk-folder-error { background-position: -269px -234px }
.silk-folder-explore { background-position: -287px -234px }
.silk-folder-feed { background-position: -305px -234px }
.silk-folder-find { background-position: -323px -234px }
.silk-folder-go { background-position: -341px -234px }
.silk-folder-heart { background-position: -359px -234px }
.silk-folder-image { background-position: -377px -234px }
.silk-folder-key { background-position: -395px -234px }
.silk-folder-lightbulb { background-position: -413px -234px }
.silk-folder-link { background-position: -431px -234px }
.silk-folder-magnify { background-position: -449px -234px }
.silk-folder-page { background-position: -467px -234px }
.silk-folder-page-white { background-position: -485px -234px }
.silk-folder-palette { background-position: -503px -234px }
.silk-folder-picture { background-position: -521px -234px }
.silk-folder-star { background-position: -539px -234px }
.silk-folder-table { background-position: -557px -234px }
.silk-folder-user { background-position: 0px -252px }
.silk-folder-wrench { background-position: -17px -252px }
.silk-font { background-position: -35px -252px }
.silk-font-add { background-position: -53px -252px }
.silk-font-delete { background-position: -71px -252px }
.silk-font-go { background-position: -89px -252px }
.silk-group { background-position: -107px -252px }
.silk-group-add { background-position: -125px -252px }
.silk-group-delete { background-position: -143px -252px }
.silk-group-edit { background-position: -161px -252px }
.silk-group-error { background-position: -179px -252px }
.silk-group-gear { background-position: -197px -252px }
.silk-group-go { background-position: -215px -252px }
.silk-group-key { background-position: -233px -252px }
.silk-group-link { background-position: -251px -252px }
.silk-heart { background-position: -269px -252px }
.silk-heart-add { background-position: -287px -252px }
.silk-heart-delete { background-position: -305px -252px }
.silk-help { background-position: -323px -252px }
.silk-hourglass { background-position: -341px -252px }
.silk-hourglass-add { background-position: -359px -252px }
.silk-hourglass-delete { background-position: -377px -252px }
.silk-hourglass-go { background-position: -395px -252px }
.silk-hourglass-link { background-position: -413px -252px }
.silk-house { background-position: -431px -252px }
.silk-house-go { background-position: -449px -252px }
.silk-house-link { background-position: -467px -252px }
.silk-html { background-position: -485px -252px }
.silk-html-add { background-position: -503px -252px }
.silk-html-delete { background-position: -521px -252px }
.silk-html-go { background-position: -539px -252px }
.silk-html-valid { background-position: -557px -252px }
.silk-image { background-position: -0px -270px }
.silk-images { background-position: -17px -270px }
.silk-image-add { background-position: -35px -270px }
.silk-image-delete { background-position: -53px -270px }
.silk-image-edit { background-position: -71px -270px }
.silk-image-link { background-position: -89px -270px }
.silk-information { background-position: -107px -270px }
.silk-ipod { background-position: -125px -270px }
.silk-ipod-cast { background-position: -143px -270px }
.silk-ipod-cast-add { background-position: -161px -270px }
.silk-ipod-cast-delete { background-position: -179px -270px }
.silk-ipod-sound { background-position: -197px -270px }
.silk-joystick { background-position: -215px -270px }
.silk-joystick-add { background-position: -233px -270px }
.silk-joystick-delete { background-position: -251px -270px }
.silk-joystick-error { background-position: -269px -270px }
.silk-key { background-position: -287px -270px }
.silk-keyboard { background-position: -305px -270px }
.silk-keyboard-add { background-position: -323px -270px }
.silk-keyboard-delete { background-position: -341px -270px }
.silk-keyboard-magnify { background-position: -359px -270px }
.silk-key-add { background-position: -377px -270px }
.silk-key-delete { background-position: -395px -270px }
.silk-key-go { background-position: -413px -270px }
.silk-layers { background-position: -431px -270px }
.silk-layout { background-position: -449px -270px }
.silk-layout-add { background-position: -467px -270px }
.silk-layout-content { background-position: -485px -270px }
.silk-layout-delete { background-position: -503px -270px }
.silk-layout-edit { background-position: -521px -270px }
.silk-layout-error { background-position: -539px -270px }
.silk-layout-header { background-position: -557px -270px }
.silk-layout-link { background-position: 0px -288px }
.silk-layout-sidebar { background-position: -17px -288px }
.silk-lightbulb { background-position: -35px -288px }
.silk-lightbulb-add { background-position: -53px -288px }
.silk-lightbulb-delete { background-position: -71px -288px }
.silk-lightbulb-off { background-position: -89px -288px }
.silk-lightning { background-position: -107px -288px }
.silk-lightning-add { background-position: -125px -288px }
.silk-lightning-delete { background-position: -143px -288px }
.silk-lightning-go { background-position: -161px -288px }
.silk-link { background-position: -179px -288px }
.silk-link-add { background-position: -197px -288px }
.silk-link-break { background-position: -215px -288px }
.silk-link-delete { background-position: -233px -288px }
.silk-link-edit { background-position: -251px -288px }
.silk-link-error { background-position: -269px -288px }
.silk-link-go { background-position: -287px -288px }
.silk-lock { background-position: -305px -288px }
.silk-lock-add { background-position: -323px -288px }
.silk-lock-break { background-position: -341px -288px }
.silk-lock-delete { background-position: -359px -288px }
.silk-lock-edit { background-position: -377px -288px }
.silk-lock-go { background-position: -395px -288px }
.silk-lock-open { background-position: -413px -288px }
.silk-lorry { background-position: -431px -288px }
.silk-lorry-add { background-position: -449px -288px }
.silk-lorry-delete { background-position: -467px -288px }
.silk-lorry-error { background-position: -485px -288px }
.silk-lorry-flatbed { background-position: -503px -288px }
.silk-lorry-go { background-position: -521px -288px }
.silk-lorry-link { background-position: -539px -288px }
.silk-magifier-zoom-out { background-position: -557px -288px }
.silk-magnifier { background-position: 0px -306px }
.silk-magnifier-zoom-in { background-position: -17px -306px }
.silk-male { background-position: -35px -306px }
.silk-map { background-position: -53px -306px }
.silk-map-add { background-position: -71px -306px }
.silk-map-delete { background-position: -89px -306px }
.silk-map-edit { background-position: -107px -306px }
.silk-map-go { background-position: -125px -306px }
.silk-map-magnify { background-position: -143px -306px }
.silk-medal-bronze-1 { background-position: -161px -306px }
.silk-medal-bronze-2 { background-position: -179px -306px }
.silk-medal-bronze-3 { background-position: -197px -306px }
.silk-medal-bronze-add { background-position: -215px -306px }
.silk-medal-bronze-delete { background-position: -233px -306px }
.silk-medal-gold-1 { background-position: -251px -306px }
.silk-medal-gold-2 { background-position: -269px -306px }
.silk-medal-gold-3 { background-position: -287px -306px }
.silk-medal-gold-add { background-position: -305px -306px }
.silk-medal-gold-delete { background-position: -323px -306px }
.silk-medal-silver-1 { background-position: -341px -306px }
.silk-medal-silver-2 { background-position: -359px -306px }
.silk-medal-silver-3 { background-position: -377px -306px }
.silk-medal-silver-add { background-position: -395px -306px }
.silk-medal-silver-delete { background-position: -413px -306px }
.silk-money { background-position: -431px -306px }
.silk-money-add { background-position: -449px -306px }
.silk-money-delete { background-position: -467px -306px }
.silk-money-dollar { background-position: -485px -306px }
.silk-money-euro { background-position: -503px -306px }
.silk-money-pound { background-position: -521px -306px }
.silk-money-yen { background-position: -539px -306px }
.silk-monitor { background-position: -557px -306px }
.silk-monitor-add { background-position: 0px -324px }
.silk-monitor-delete { background-position: -17px -324px }
.silk-monitor-edit { background-position: -35px -324px }
.silk-monitor-error { background-position: -53px -324px }
.silk-monitor-go { background-position: -71px -324px }
.silk-monitor-lightning { background-position: -89px -324px }
.silk-monitor-link { background-position: -107px -324px }
.silk-mouse { background-position: -125px -324px }
.silk-mouse-add { background-position: -143px -324px }
.silk-mouse-delete { background-position: -161px -324px }
.silk-mouse-error { background-position: -179px -324px }
.silk-music { background-position: -197px -324px }
.silk-new { background-position: -215px -324px }
.silk-newspaper { background-position: -233px -324px }
.silk-newspaper-add { background-position: -251px -324px }
.silk-newspaper-delete { background-position: -269px -324px }
.silk-newspaper-go { background-position: -287px -324px }
.silk-newspaper-link { background-position: -305px -324px }
.silk-note { background-position: -323px -324px }
.silk-note-add { background-position: -341px -324px }
.silk-note-delete { background-position: -359px -324px }
.silk-note-edit { background-position: -377px -324px }
.silk-note-error { background-position: -395px -324px }
.silk-note-go { background-position: -413px -324px }
.silk-overlays { background-position: -431px -324px }
.silk-package { background-position: -449px -324px }
.silk-package-add { background-position: -467px -324px }
.silk-package-delete { background-position: -485px -324px }
.silk-package-go { background-position: -503px -324px }
.silk-package-green { background-position: -521px -324px }
.silk-package-link { background-position: -539px -324px }
.silk-page { background-position: -557px -324px }
.silk-page-add { background-position: 0px -342px }
.silk-page-attach { background-position: -17px -342px }
.silk-page-code { background-position: -35px -342px }
.silk-page-copy { background-position: -53px -342px }
.silk-page-delete { background-position: -71px -342px }
.silk-page-edit { background-position: -89px -342px }
.silk-page-error { background-position: -107px -342px }
.silk-page-excel { background-position: -125px -342px }
.silk-page-find { background-position: -143px -342px }
.silk-page-gear { background-position: -161px -342px }
.silk-page-go { background-position: -179px -342px }
.silk-page-green { background-position: -197px -342px }
.silk-page-key { background-position: -215px -342px }
.silk-page-lightning { background-position: -233px -342px }
.silk-page-link { background-position: -251px -342px }
.silk-page-paintbrush { background-position: -269px -342px }
.silk-page-paste { background-position: -287px -342px }
.silk-page-red { background-position: -305px -342px }
.silk-page-refresh { background-position: -323px -342px }
.silk-page-save { background-position: -341px -342px }
.silk-page-white { background-position: -359px -342px }
.silk-page-white-acrobat { background-position: -377px -342px }
.silk-page-white-actionscript { background-position: -395px -342px }
.silk-page-white-add { background-position: -413px -342px }
.silk-page-white-c { background-position: -431px -342px }
.silk-page-white-camera { background-position: -449px -342px }
.silk-page-white-cd { background-position: -467px -342px }
.silk-page-white-code { background-position: -485px -342px }
.silk-page-white-code-red { background-position: -503px -342px }
.silk-page-white-coldfusion { background-position: -521px -342px }
.silk-page-white-compressed { background-position: -539px -342px }
.silk-page-white-copy { background-position: -557px -342px }
.silk-page-white-cplusplus { background-position: 0px -360px }
.silk-page-white-csharp { background-position: -17px -360px }
.silk-page-white-cup { background-position: -35px -360px }
.silk-page-white-database { background-position: -53px -360px }
.silk-page-white-delete { background-position: -71px -360px }
.silk-page-white-dvd { background-position: -89px -360px }
.silk-page-white-edit { background-position: -107px -360px }
.silk-page-white-error { background-position: -125px -360px }
.silk-page-white-excel { background-position: -143px -360px }
.silk-page-white-find { background-position: -161px -360px }
.silk-page-white-flash { background-position: -179px -360px }
.silk-page-white-freehand { background-position: -197px -360px }
.silk-page-white-gear { background-position: -215px -360px }
.silk-page-white-get { background-position: -233px -360px }
.silk-page-white-go { background-position: -251px -360px }
.silk-page-white-h { background-position: -269px -360px }
.silk-page-white-horizontal { background-position: -287px -360px }
.silk-page-white-key { background-position: -305px -360px }
.silk-page-white-lightning { background-position: -323px -360px }
.silk-page-white-link { background-position: -341px -360px }
.silk-page-white-magnify { background-position: -359px -360px }
.silk-page-white-medal { background-position: -377px -360px }
.silk-page-white-office { background-position: -395px -360px }
.silk-page-white-paint { background-position: -413px -360px }
.silk-page-white-paintbrush { background-position: -431px -360px }
.silk-page-white-paste { background-position: -449px -360px }
.silk-page-white-php { background-position: -467px -360px }
.silk-page-white-picture { background-position: -485px -360px }
.silk-page-white-powerpoint { background-position: -503px -360px }
.silk-page-white-put { background-position: -521px -360px }
.silk-page-white-ruby { background-position: -539px -360px }
.silk-page-white-stack { background-position: -557px -360px }
.silk-page-white-star { background-position: 0px -378px }
.silk-page-white-swoosh { background-position: -17px -378px }
.silk-page-white-text { background-position: -35px -378px }
.silk-page-white-text-width { background-position: -53px -378px }
.silk-page-white-tux { background-position: -71px -378px }
.silk-page-white-vector { background-position: -89px -378px }
.silk-page-white-visualstudio { background-position: -107px -378px }
.silk-page-white-width { background-position: -125px -378px }
.silk-page-white-word { background-position: -143px -378px }
.silk-page-white-world { background-position: -161px -378px }
.silk-page-white-wrench { background-position: -179px -378px }
.silk-page-white-zip { background-position: -197px -378px }
.silk-page-word { background-position: -215px -378px }
.silk-page-world { background-position: -233px -378px }
.silk-paintbrush { background-position: -251px -378px }
.silk-paintcan { background-position: -269px -378px }
.silk-palette { background-position: -287px -378px }
.silk-paste-plain { background-position: -305px -378px }
.silk-paste-word { background-position: -323px -378px }
.silk-pencil { background-position: -341px -378px }
.silk-pencil-add { background-position: -359px -378px }
.silk-pencil-delete { background-position: -377px -378px }
.silk-pencil-go { background-position: -395px -378px }
.silk-phone { background-position: -413px -378px }
.silk-phone-add { background-position: -431px -378px }
.silk-phone-delete { background-position: -449px -378px }
.silk-phone-sound { background-position: -467px -378px }
.silk-photo { background-position: -485px -378px }
.silk-photos { background-position: -503px -378px }
.silk-photo-add { background-position: -521px -378px }
.silk-photo-delete { background-position: -539px -378px }
.silk-photo-link { background-position: -557px -378px }
.silk-picture { background-position: 0px -396px }
.silk-pictures { background-position: -17px -396px }
.silk-picture-add { background-position: -35px -396px }
.silk-picture-delete { background-position: -53px -396px }
.silk-picture-edit { background-position: -71px -396px }
.silk-picture-empty { background-position: -89px -396px }
.silk-picture-error { background-position: -107px -396px }
.silk-picture-go { background-position: -125px -396px }
.silk-picture-key { background-position: -143px -396px }
.silk-picture-link { background-position: -161px -396px }
.silk-picture-save { background-position: -179px -396px }
.silk-pilcrow { background-position: -197px -396px }
.silk-pill { background-position: -215px -396px }
.silk-pill-add { background-position: -233px -396px }
.silk-pill-delete { background-position: -251px -396px }
.silk-pill-go { background-position: -269px -396px }
.silk-plugin { background-position: -287px -396px }
.silk-plugin-add { background-position: -305px -396px }
.silk-plugin-delete { background-position: -323px -396px }
.silk-plugin-disabled { background-position: -341px -396px }
.silk-plugin-edit { background-position: -359px -396px }
.silk-plugin-error { background-position: -377px -396px }
.silk-plugin-go { background-position: -395px -396px }
.silk-plugin-link { background-position: -413px -396px }
.silk-printer { background-position: -431px -396px }
.silk-printer-add { background-position: -449px -396px }
.silk-printer-delete { background-position: -467px -396px }
.silk-printer-empty { background-position: -485px -396px }
.silk-printer-error { background-position: -503px -396px }
.silk-rainbow { background-position: -521px -396px }
.silk-report { background-position: -539px -396px }
.silk-report-add { background-position: -557px -396px }
.silk-report-delete { background-position: 0px -414px }
.silk-report-disk { background-position: -17px -414px }
.silk-report-edit { background-position: -35px -414px }
.silk-report-go { background-position: -53px -414px }
.silk-report-key { background-position: -71px -414px }
.silk-report-link { background-position: -89px -414px }
.silk-report-magnify { background-position: -107px -414px }
.silk-report-picture { background-position: -125px -414px }
.silk-report-user { background-position: -143px -414px }
.silk-report-word { background-position: -161px -414px }
.silk-resultset-first { background-position: -179px -414px }
.silk-resultset-last { background-position: -197px -414px }
.silk-resultset-next { background-position: -215px -414px }
.silk-resultset-previous { background-position: -233px -414px }
.silk-rosette { background-position: -251px -414px }
.silk-rss { background-position: -269px -414px }
.silk-rss-add { background-position: -287px -414px }
.silk-rss-delete { background-position: -305px -414px }
.silk-rss-go { background-position: -323px -414px }
.silk-rss-valid { background-position: -341px -414px }
.silk-ruby { background-position: -359px -414px }
.silk-ruby-add { background-position: -377px -414px }
.silk-ruby-delete { background-position: -395px -414px }
.silk-ruby-gear { background-position: -413px -414px }
.silk-ruby-get { background-position: -431px -414px }
.silk-ruby-go { background-position: -449px -414px }
.silk-ruby-key { background-position: -467px -414px }
.silk-ruby-link { background-position: -485px -414px }
.silk-ruby-put { background-position: -503px -414px }
.silk-script { background-position: -521px -414px }
.silk-script-add { background-position: -539px -414px }
.silk-script-code { background-position: -557px -414px }
.silk-script-code-red { background-position: 0px -432px }
.silk-script-delete { background-position: -17px -432px }
.silk-script-edit { background-position: -35px -432px }
.silk-script-error { background-position: -53px -432px }
.silk-script-gear { background-position: -71px -432px }
.silk-script-go { background-position: -89px -432px }
.silk-script-key { background-position: -107px -432px }
.silk-script-lightning { background-position: -125px -432px }
.silk-script-link { background-position: -143px -432px }
.silk-script-palette { background-position: -161px -432px }
.silk-script-save { background-position: -179px -432px }
.silk-server { background-position: -197px -432px }
.silk-server-add { background-position: -215px -432px }
.silk-server-chart { background-position: -233px -432px }
.silk-server-compressed { background-position: -251px -432px }
.silk-server-connect { background-position: -269px -432px }
.silk-server-database { background-position: -287px -432px }
.silk-server-delete { background-position: -305px -432px }
.silk-server-edit { background-position: -323px -432px }
.silk-server-error { background-position: -341px -432px }
.silk-server-go { background-position: -359px -432px }
.silk-server-key { background-position: -377px -432px }
.silk-server-lightning { background-position: -395px -432px }
.silk-server-link { background-position: -413px -432px }
.silk-server-uncompressed { background-position: -431px -432px }
.silk-shading { background-position: -449px -432px }
.silk-shape-align-bottom { background-position: -467px -432px }
.silk-shape-align-center { background-position: -485px -432px }
.silk-shape-align-left { background-position: -503px -432px }
.silk-shape-align-middle { background-position: -521px -432px }
.silk-shape-align-right { background-position: -539px -432px }
.silk-shape-align-top { background-position: -557px -432px }
.silk-shape-flip-horizontal { background-position: 0px -450px }
.silk-shape-flip-vertical { background-position: -17px -450px }
.silk-shape-group { background-position: -35px -450px }
.silk-shape-handles { background-position: -53px -450px }
.silk-shape-move-back { background-position: -71px -450px }
.silk-shape-move-backwards { background-position: -89px -450px }
.silk-shape-move-forwards { background-position: -107px -450px }
.silk-shape-move-front { background-position: -125px -450px }
.silk-shape-rotate-anticlockwise { background-position: -143px -450px }
.silk-shape-rotate-clockwise { background-position: -161px -450px }
.silk-shape-square { background-position: -179px -450px }
.silk-shape-square-add { background-position: -197px -450px }
.silk-shape-square-delete { background-position: -215px -450px }
.silk-shape-square-edit { background-position: -233px -450px }
.silk-shape-square-error { background-position: -251px -450px }
.silk-shape-square-go { background-position: -269px -450px }
.silk-shape-square-key { background-position: -287px -450px }
.silk-shape-square-link { background-position: -305px -450px }
.silk-shape-ungroup { background-position: -323px -450px }
.silk-shield { background-position: -341px -450px }
.silk-shield-add { background-position: -359px -450px }
.silk-shield-delete { background-position: -377px -450px }
.silk-shield-go { background-position: -395px -450px }
.silk-sitemap { background-position: -413px -450px }
.silk-sitemap-color { background-position: -431px -450px }
.silk-sound { background-position: -449px -450px }
.silk-sound-add { background-position: -467px -450px }
.silk-sound-delete { background-position: -485px -450px }
.silk-sound-low { background-position: -503px -450px }
.silk-sound-mute { background-position: -521px -450px }
.silk-sound-none { background-position: -539px -450px }
.silk-spellcheck { background-position: -557px -450px }
.silk-sport-8ball { background-position: 0px -468px }
.silk-sport-basketball { background-position: -17px -468px }
.silk-sport-football { background-position: -35px -468px }
.silk-sport-golf { background-position: -53px -468px }
.silk-sport-raquet { background-position: -71px -468px }
.silk-sport-shuttlecock { background-position: -89px -468px }
.silk-sport-soccer { background-position: -107px -468px }
.silk-sport-tennis { background-position: -125px -468px }
.silk-star { background-position: -143px -468px }
.silk-status-away { background-position: -161px -468px }
.silk-status-busy { background-position: -179px -468px }
.silk-status-offline { background-position: -197px -468px }
.silk-status-online { background-position: -215px -468px }
.silk-stop { background-position: -233px -468px }
.silk-style { background-position: -251px -468px }
.silk-style-add { background-position: -269px -468px }
.silk-style-delete { background-position: -287px -468px }
.silk-style-edit { background-position: -305px -468px }
.silk-style-go { background-position: -323px -468px }
.silk-sum { background-position: -341px -468px }
.silk-tab { background-position: -359px -468px }
.silk-table { background-position: -377px -468px }
.silk-table-add { background-position: -395px -468px }
.silk-table-delete { background-position: -413px -468px }
.silk-table-edit { background-position: -431px -468px }
.silk-table-error { background-position: -449px -468px }
.silk-table-gear { background-position: -467px -468px }
.silk-table-go { background-position: -485px -468px }
.silk-table-key { background-position: -503px -468px }
.silk-table-lightning { background-position: -521px -468px }
.silk-table-link { background-position: -539px -468px }
.silk-table-multiple { background-position: -557px -468px }
.silk-table-refresh { background-position: 0px -486px }
.silk-table-relationship { background-position: -17px -486px }
.silk-table-row-delete { background-position: -35px -486px }
.silk-table-row-insert { background-position: -53px -486px }
.silk-table-save { background-position: -71px -486px }
.silk-table-sort { background-position: -89px -486px }
.silk-tab-add { background-position: -107px -486px }
.silk-tab-delete { background-position: -125px -486px }
.silk-tab-edit { background-position: -143px -486px }
.silk-tab-go { background-position: -161px -486px }
.silk-tag { background-position: -179px -486px }
.silk-tag-blue { background-position: -197px -486px }
.silk-tag-blue-add { background-position: -215px -486px }
.silk-tag-blue-delete { background-position: -233px -486px }
.silk-tag-blue-edit { background-position: -251px -486px }
.silk-tag-green { background-position: -269px -486px }
.silk-tag-orange { background-position: -287px -486px }
.silk-tag-pink { background-position: -305px -486px }
.silk-tag-purple { background-position: -323px -486px }
.silk-tag-red { background-position: -341px -486px }
.silk-tag-yellow { background-position: -359px -486px }
.silk-telephone { background-position: -377px -486px }
.silk-telephone-add { background-position: -395px -486px }
.silk-telephone-delete { background-position: -413px -486px }
.silk-telephone-edit { background-position: -431px -486px }
.silk-telephone-error { background-position: -449px -486px }
.silk-telephone-go { background-position: -467px -486px }
.silk-telephone-key { background-position: -485px -486px }
.silk-telephone-link { background-position: -503px -486px }
.silk-television { background-position: -521px -486px }
.silk-television-add { background-position: -539px -486px }
.silk-television-delete { background-position: -557px -486px }
.silk-textfield { background-position: 0px -504px }
.silk-textfield-add { background-position: -17px -504px }
.silk-textfield-delete { background-position: -35px -504px }
.silk-textfield-key { background-position: -53px -504px }
.silk-textfield-rename { background-position: -71px -504px }
.silk-text-align-center { background-position: -89px -504px }
.silk-text-align-justify { background-position: -107px -504px }
.silk-text-align-left { background-position: -125px -504px }
.silk-text-align-right { background-position: -143px -504px }
.silk-text-allcaps { background-position: -161px -504px }
.silk-text-bold { background-position: -179px -504px }
.silk-text-columns { background-position: -197px -504px }
.silk-text-dropcaps { background-position: -215px -504px }
.silk-text-heading-1 { background-position: -233px -504px }
.silk-text-heading-2 { background-position: -251px -504px }
.silk-text-heading-3 { background-position: -269px -504px }
.silk-text-heading-4 { background-position: -287px -504px }
.silk-text-heading-5 { background-position: -305px -504px }
.silk-text-heading-6 { background-position: -323px -504px }
.silk-text-horizontalrule { background-position: -341px -504px }
.silk-text-indent { background-position: -359px -504px }
.silk-text-indent-remove { background-position: -377px -504px }
.silk-text-italic { background-position: -395px -504px }
.silk-text-kerning { background-position: -413px -504px }
.silk-text-letterspacing { background-position: -431px -504px }
.silk-text-letter-omega { background-position: -449px -504px }
.silk-text-linespacing { background-position: -467px -504px }
.silk-text-list-bullets { background-position: -485px -504px }
.silk-text-list-numbers { background-position: -503px -504px }
.silk-text-lowercase { background-position: -521px -504px }
.silk-text-padding-bottom { background-position: -539px -504px }
.silk-text-padding-left { background-position: -557px -504px }
.silk-text-padding-right { background-position: 0px -522px }
.silk-text-padding-top { background-position: -17px -522px }
.silk-text-replace { background-position: -35px -522px }
.silk-text-signature { background-position: -53px -522px }
.silk-text-smallcaps { background-position: -71px -522px }
.silk-text-strikethrough { background-position: -89px -522px }
.silk-text-subscript { background-position: -107px -522px }
.silk-text-superscript { background-position: -125px -522px }
.silk-text-underline { background-position: -143px -522px }
.silk-text-uppercase { background-position: -161px -522px }
.silk-thumb-down { background-position: -179px -522px }
.silk-thumb-up { background-position: -197px -522px }
.silk-tick { background-position: -215px -522px }
.silk-time { background-position: -233px -522px }
.silk-timeline-marker { background-position: -251px -522px }
.silk-time-add { background-position: -269px -522px }
.silk-time-delete { background-position: -287px -522px }
.silk-time-go { background-position: -305px -522px }
.silk-transmit { background-position: -323px -522px }
.silk-transmit-add { background-position: -341px -522px }
.silk-transmit-blue { background-position: -359px -522px }
.silk-transmit-delete { background-position: -377px -522px }
.silk-transmit-edit { background-position: -395px -522px }
.silk-transmit-error { background-position: -413px -522px }
.silk-transmit-go { background-position: -431px -522px }
.silk-tux { background-position: -449px -522px }
.silk-user { background-position: -467px -522px }
.silk-user-add { background-position: -485px -522px }
.silk-user-comment { background-position: -503px -522px }
.silk-user-delete { background-position: -521px -522px }
.silk-user-edit { background-position: -539px -522px }
.silk-user-female { background-position: -557px -522px }
.silk-user-go { background-position: 0px -540px }
.silk-user-gray { background-position: -17px -540px }
.silk-user-green { background-position: -35px -540px }
.silk-user-orange { background-position: -53px -540px }
.silk-user-red { background-position: -71px -540px }
.silk-user-suit { background-position: -89px -540px }
.silk-vcard { background-position: -107px -540px }
.silk-vcard-add { background-position: -125px -540px }
.silk-vcard-delete { background-position: -143px -540px }
.silk-vcard-edit { background-position: -161px -540px }
.silk-vector { background-position: -179px -540px }
.silk-vector-add { background-position: -197px -540px }
.silk-vector-delete { background-position: -215px -540px }
.silk-wand { background-position: -233px -540px }
.silk-weather-clouds { background-position: -251px -540px }
.silk-weather-cloudy { background-position: -269px -540px }
.silk-weather-lightning { background-position: -287px -540px }
.silk-weather-rain { background-position: -305px -540px }
.silk-weather-snow { background-position: -323px -540px }
.silk-weather-sun { background-position: -341px -540px }
.silk-webcam { background-position: -359px -540px }
.silk-webcam-add { background-position: -377px -540px }
.silk-webcam-delete { background-position: -395px -540px }
.silk-webcam-error { background-position: -413px -540px }
.silk-world { background-position: -431px -540px }
.silk-world-add { background-position: -449px -540px }
.silk-world-delete { background-position: -467px -540px }
.silk-world-edit { background-position: -485px -540px }
.silk-world-go { background-position: -503px -540px }
.silk-world-link { background-position: -521px -540px }
.silk-wrench { background-position: -539px -540px }
.silk-wrench-orange { background-position: -557px -540px }
.silk-xhtml { background-position: 0px -558px }
.silk-xhtml-add { background-position: -17px -558px }
.silk-xhtml-delete { background-position: -35px -558px }
.silk-xhtml-go { background-position: -53px -558px }
.silk-xhtml-valid { background-position: -71px -558px }
.silk-zoom { background-position: -89px -558px }
.silk-zoom-in { background-position: -107px -558px }
.silk-zoom-out { background-position: -125px -558px }

.silk-report-clock {
  background-image: url(assets\silk-extended-sprite.png);
  background-position: -0px -0px;
}

.silk-application-view-list-money {
  background-image: url(assets\silk-extended-sprite.png);
  background-position: -18px -0px;
}

.silk-application-view-list-telephone { 
  background-image: url(assets\silk-extended-sprite.png);
  background-position: -36px -0px;
}

.silk-application-view-list-record {
  background-image: url(assets\silk-extended-sprite.png);
  background-position: -0px -18px;
}

.silk-destrate {
  background-image: url(assets\silk-extended-sprite.png);
  background-position: -18px -18px;
}

.silk-application-view-list-schedule {
  background-image: url(assets\silk-extended-sprite.png);
  background-position: -36px -18px;
}

.silk-application-view-list-world {
  background-image: url(assets\silk-extended-sprite.png);
  background-position: -0px -36px;
}

.silk-report-refresh {
  background-image: url(assets\silk-extended-sprite.png);
  background-position: -18px -36px;
}

.silk-inline {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  outline: 0;
}

.silk-sitemap-color {
  background-position: -431px -450px;
}