:host {
  text-align: center;
	
  img.logo {
	  width: 50%;
		max-width: 500px;
		margin-bottom: 40px;
		margin-top: -20px;
	}
	
  .login-container {
    text-align: center;
    
    form {
      max-width: 500px;
      margin: auto;
      text-align: left;
    }
  }
}